<html>

<head>
  <title>Confirmation Email</title>
</head>

<body>
  <Div>
    <h1>Confirm your Email address to get started on slack</h1>
  </Div>
  <div>
    <p>
      Once You have confirm that xxxx@gmail.com is your email addresss,we will help to find your slack workspace or
      create a new one
    </p>
  </div>
  <div>
    <p>From your mobile device tap the button below to confirm</p>
  </div>
  <button style="background-color:green;font-color:green">Confirm Email Address</button>
  <div>
    <div>
      <p>If you did't request this email,there's nothing to worry about -you can safely ignore it</p>
    </div>
    <span style="font-weight: bold;">Date:</span>
    <span>{{Date}}</span>
    <br>
    <span style="font-weight: bold;">Time:</span>
    <span>{{Time}}</span>
  </div>
</body>

</html>